name: Static Analysis

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.4"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"
          
      - name: Install dependencies
        run: npm ci

      - name: Run ESLint for static analysis
        run: npm run lint -- --max-warnings=0
